<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinxAdmo.Properties.Settings.LinxSysConnectionString"
            connectionString="Data Source=DESKTOP\EQUIPO;Initial Catalog=LinxSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinxAdmo.Properties.Settings.Linx_RefConnectionString"
            connectionString="Data Source=DESKTOP\EQUIPO;Initial Catalog=Linx_Ref;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>